#productlist #nav {
  height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#productlist #nav a {
  display: inline-block;
  line-height: 40px;
}
#productlist #nav button {
  width: 70px;
  height: 35px;
  border: none;
  float: right;
  border-radius: 10px;
  background-color: #a1a1a1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 1px;
}
#productlist #productContent .media {
  height: 140px;
  border-bottom: 1px solid #a1a1a1;
  padding: 10px;
  padding-top: 0px;
  margin-top: 15px;
}
#productlist #productContent .media .pull-left {
  height: 100%;
  display: block;
}
#productlist #productContent .media .pull-left img {
  width: 100px;
}
#productlist #productContent .media .media-body {
  color: #a1a1a1;
}
#productlist #productContent .media .media-body .media-heading {
  color: #000;
  font-size: 16px;
  line-height: 28px;
  height: 56px;
}
#productlist #productContent .media .media-body .price {
  color: red;
}
#productlist #productContent .media .media-body .price span {
  font-size: 18px;
  line-height: 28px;
}
#productlist #productContent .media .media-body .info {
  color: #a1a1a1;
  font-size: 12px;
}
#productlist #productContent .media .media-body .info *:nth-child(2) {
  float: right;
}
